/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 768px) {
  body {
    height: auto;
  }
}
